/**********overriding default styles of Material UI slider**********/
.MuiSlider-track{
    color: var(--color-primary);
}

.MuiSlider-rail{
    color: var(--color-grey);
}

.MuiSlider-thumb{
    color: var(--color-white-light);
}
