.header-container{
    border-bottom: 2px solid var(--color-border);
}

.header{
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.header span{
    text-transform: uppercase;
}

@media screen and (max-width: 900px){
    .header{
        flex-direction: column;
        height: 100px;
    }
    .header span{
        text-align: center;
    }
    .header img{
        margin:10px 0;
    }
}